<a href="https://colab.research.google.com/github/RoyMassett/Roy_Ava_Clustering_2019/blob/master/notebooks/Thickness_Interaction_Clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pip
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import seaborn as sns

In [70]:
url = 'https://raw.githubusercontent.com/RoyMassett/Roy_Ava_Clustering_2019/master/thick_long_lvPPA_Interaction.csv'
interaction = pd.read_csv(url)
interaction.head(168)

      PIDN  Unnamed: 1  Diagnosis  ...  Unnamed: 29  Unnamed: 30  Unnamed: 31
0      762           1          1  ...          NaN          NaN          NaN
1      762           0          1  ...          NaN          NaN          NaN
2      767           1          1  ...          NaN          NaN          NaN
3      767           0          1  ...          NaN          NaN          NaN
4     1416           1          1  ...          NaN          NaN          NaN
5     1416           0          1  ...          NaN          NaN          NaN
6     2046           1          1  ...          NaN          NaN          NaN
7     2046           0          1  ...          NaN          NaN          NaN
8     2292           1          1  ...          NaN          NaN          NaN
9     2292           0          1  ...          NaN          NaN          NaN
10    2557           1          1  ...          NaN          NaN          NaN
11    2557           0          1  ...          NaN          NaN          NaN
12    2679           1          1  ...          NaN          NaN          NaN
13    2679           0          1  ...          NaN          NaN          NaN
14    2680           1          1  ...          NaN          NaN          NaN
15    2680           0          1  ...          NaN          NaN          NaN
16    2692           1          1  ...          NaN          NaN          NaN
17    2692           0          1  ...          NaN          NaN          NaN
18    2715           1          1  ...          NaN          NaN          NaN
19    2715           0          1  ...          NaN          NaN          NaN
20    2720           1          1  ...          NaN          NaN          NaN
21    2720           0          1  ...          NaN          NaN          NaN
22    2732           1          1  ...          NaN          NaN          NaN
23    2732           0          1  ...          NaN          NaN          NaN
24    2743           1          1  ...          NaN          NaN          NaN
25    2743           0          1  ...          NaN          NaN          NaN
26    2801           1          1  ...          NaN          NaN          NaN
27    2801           0          1  ...          NaN          NaN          NaN
28    3530           1          1  ...          NaN          NaN          NaN
29    3530           0          1  ...          NaN          NaN          NaN
..     ...         ...        ...  ...          ...          ...          ...
138  12450           1          2  ...          NaN          NaN          NaN
139  12450           0          2  ...          NaN          NaN          NaN
140  12822           1          2  ...          NaN          NaN          NaN
141  12822           0          2  ...          NaN          NaN          NaN
142  13061           1          2  ...          NaN          NaN          NaN
143  13061           0          2  ...          NaN          NaN          NaN
144  14135           1          2  ...          NaN          NaN          NaN
145  14135           0          2  ...          NaN          NaN          NaN
146  14353           1          2  ...          NaN          NaN          NaN
147  14353           0          2  ...          NaN          NaN          NaN
148  14392           1          2  ...          NaN          NaN          NaN
149  14392           0          2  ...          NaN          NaN          NaN
150  14788           1          2  ...          NaN          NaN          NaN
151  14788           0          2  ...          NaN          NaN          NaN
152  17664           1          2  ...          NaN          NaN          NaN
153  17664           0          2  ...          NaN          NaN          NaN
154  19204           1          2  ...          NaN          NaN          NaN
155  19204           0          2  ...          NaN          NaN          NaN
156  19411           1          2  ...          NaN          NaN          NaN
157  19411           0          2  ...          NaN          NaN          NaN
158  19875           1          2  ...          NaN          NaN          NaN
159  19875           0          2  ...          NaN          NaN          NaN
160  23073           1          2  ...          NaN          NaN          NaN
161  23073           0          2  ...          NaN          NaN          NaN
162  24626           1          2  ...          NaN          NaN          NaN
163  24626           0          2  ...          NaN          NaN          NaN
164  26697           1          2  ...          NaN          NaN          NaN
165  26697           0          2  ...          NaN          NaN          NaN
166  27370           1          2  ...          NaN          NaN          NaN
167  27370           0          2  ...          NaN          NaN          NaN

[168 rows x 32 columns]

In [71]:
interaction.drop(['PIDN', 'Unnamed: 1', 'Diagnosis', 'time_dff_year', 'AgeAtDC', 'Sex', 'ScannerID', 'Hand', 'Educ', 'Unnamed: 9', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31'], axis= 1, inplace = True)
interaction.head()

   rh InfPar    rh MTG  ...  lh infTemp  lh fusiform
0   2.435025  2.486538  ...    3.221401     2.591300
1   2.533837  2.522619  ...    3.197284     2.561221
2   2.525084  2.733200  ...    3.180746     2.722235
3   2.510786  2.746310  ...    3.147591     2.691607
4   2.613600  2.621201  ...    3.084427     2.588574

[5 rows x 18 columns]

In [72]:
pca = PCA(n_components=2)
pca.fit(interaction)
pca.components_

array([[-0.15923067, -0.17147971, -0.15846788, -0.15638502, -0.17148524,
        -0.17879376, -0.1640492 , -0.28120184, -0.24159164, -0.18989062,
        -0.30239542, -0.31678468, -0.29469699, -0.28111376, -0.28674588,
        -0.30310542, -0.27509   , -0.16263025],
       [ 0.13749664,  0.02185469,  0.13920081,  0.16975753,  0.22937421,
         0.18269348,  0.12528642,  0.06031795,  0.09328811,  0.29351725,
         0.16455824,  0.13224366,  0.13407163, -0.28568459, -0.10569049,
        -0.58183927, -0.46813029,  0.13867614]])

In [73]:
labels = interaction.columns
standardized = pd.DataFrame(index=range(168), columns=labels)
standardized = standardized.fillna(0)
for i in labels:
  temp = interaction[i]
  temp_mean = interaction[i].mean()
  temp_std = interaction[i].std()
  temp_st = (interaction[i] - temp_mean) / temp_std
  standardized[i] = temp_std
standardized.head()

   rh InfPar    rh MTG  ...  lh infTemp  lh fusiform
0   0.199929  0.208964  ...    0.336353     0.232486
1   0.199929  0.208964  ...    0.336353     0.232486
2   0.199929  0.208964  ...    0.336353     0.232486
3   0.199929  0.208964  ...    0.336353     0.232486
4   0.199929  0.208964  ...    0.336353     0.232486

[5 rows x 18 columns]

In [74]:
interaction_clusters = interaction
km = KMeans(n_clusters = 3)
interaction_three_clusters = km.fit(interaction_clusters)
labels = interaction_three_clusters.labels_
interaction['clusters'] = labels
#clmns.extend(['clusters'])
interaction_clusters.head()

   rh InfPar    rh MTG  lh middleFrontal  ...  lh infTemp  lh fusiform  clusters
0   2.435025  2.486538          2.449232  ...    3.221401     2.591300         0
1   2.533837  2.522619          2.499227  ...    3.197284     2.561221         0
2   2.525084  2.733200          2.576213  ...    3.180746     2.722235         0
3   2.510786  2.746310          2.544900  ...    3.147591     2.691607         0
4   2.613600  2.621201          2.680738  ...    3.084427     2.588574         0

[5 rows x 19 columns]

In [0]:
import sys
sys.path.append('Roy_Ava_Clustering_2019’)

SyntaxError: ignored

In [0]:
import os
os.getcwd()
os.listdir(os.getcwd())

['.config', 'sample_data']

In [0]:
#load data: DMN_ROIs is shown
data = pd.read_csv('thick_long_lvPPA_DMN_ROIs.csv')

FileNotFoundError: ignored

In [0]:
data.head()

NameError: ignored